.projContainer {
    max-width: 100%;
    max-height: 100%;
    width:100vw;
    height: 100vh;
}

.projectsHeaderContainer {
    padding-left: 15vw;
}

.projectsHeader > span {
    height: 1px;
    width: 40vw;
}

@media (max-width: 775px) {
    .projContainer {
        max-height: 80%;
    }

    .projectsHeaderContainer {
        padding-left: 0;
        padding-right: 0 !important;
    }

    .projectsHeader {
        white-space: nowrap;
        align-self: center;
    }

    .projectsHeader > span {
        margin-top: 1.4rem;
        display: none;
    }
    
    .projectsHeader {
        white-space: nowrap;
        align-self: center;
    }
}