.projContainer {
    max-width: 100%;
    max-height: 100%;
    width:100vw;
    height: 100vh;
}

.projectsHeader > span {
    height: 1px;
    width: 50rem;
}


@media (max-width: 500px) {
    .projContainer {
        max-height: 80%;
    }

    .projectsHeader {
        white-space: nowrap;
        align-self: center;
    }

    .projectsHeader > span {
        margin-top: 1.4rem;
        display: none;
    }
}