.hamburgerContainer {
    margin-right: 9%;
}

.hamburgerTop {
    position: absolute;
    content: "";
    height: 2.5px;
    /* background: rgba(16, 185, 129, 1); */
    background-color: black;
    border-radius: 15%;
    top: -7px;
    left: 0;
    width: 10px;
}

.hamburgerMeat {
    position: relative;
    content: "";
    height: 2.5px;
    width: 20px;
    /* background: rgba(16, 185, 129, 1); */
    background-color: black;
    border-radius: 10%;
}

.hamburgerBottom {
    position: absolute;
    content: "";
    height: 2.5px;
    /* background: rgba(16, 185, 129, 1); */
    background-color: black;
    border-radius: 15%;
    top: 7px;
    right: 0;
    width: 10px;
}