.aboutContainer {
    max-width: 100%;
    max-height: 100%;
    width:100vw;
    height: 100vh;
}

.aboutTitleContainer {
    padding-left: 15vw;
} 

.aboutHeader > span {
    height: 1px;
    width: 50rem;
}

.aboutBody {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.aboutText {
    word-wrap: break-word;
    width: 40rem;
}

.aboutImg {
    display: block;
    position: relative;
    position: relative;
    max-width: 300px;
    max-height: 300px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(52, 211, 153);
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}

.aboutImg:hover:after {
    top: 15px;
    left: 15px;
}

.aboutImg::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(52, 211, 153);
    border-radius: 4px;
    top: 20px;
    left: 20px;
    z-index: -1;
    transition: all 0.20s cubic-bezier(0.58, 0.11, 0.35, 0.9);
}

.aboutTechnologies {
    columns: 2;
}

.aboutTechnologies > li::before {
    content: '▹';
    position: absolute;
    left: 0px;
    --tw-bg-opacity: 1;
    color: rgba(52, 211, 153, var(--tw-bg-opacity));
}

.aboutTechnologies > li {
    position: relative;
    padding-left: 1.3rem;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

@media (max-width: 775px) {
    .aboutContainer{
        /*max-height: 90%;*/
        display: flex;
        max-height: 100%;
        height: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .aboutTitleContainer {
        padding-left: 0;
        padding-right: 0 !important;
    } 

    .aboutBody {
        height: 70%;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem;
    }

    .aboutHeader {
        /*width: 25rem;*/
        white-space: nowrap;
        align-self: center;
    }

    .aboutHeader > span {
        margin-top: 1.4rem;
        display: none;
    }

    .aboutImg {
        position: absolute;
        width: 15rem;
        height: 15rem;
        margin-top: 20rem;
        margin-left: 0;
    }

    .aboutText{
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: auto;
        text-align: center;
    }

    .aboutTechnologies > li::before {
        left: 20%;
    }
}