.featuredContainer {
    height: 20rem;
    width: 60rem;
}

.imageContainer {
    height: 20rem;
    width: 35rem;
    z-index: -1;
}

.featuredDescription {
    height: 7.5rem;
    width: 30rem;
    z-index: 1;
}

.featureImg {
    object-fit: cover;
}

.technology {
    padding: 1rem;
}

.projSocial {
    padding: 1rem;
}

.projSocial:focus {
    outline: none;
}

.projSocial:hover {
   color: rgba(52, 211, 153);
   transition-duration: 0.3s;
}

@media (max-width: 500px) {
    .imageContainer {
        height: 5rem;
        width: 15rem;
        z-index: -1;
    }

    .featuredDescription {
        height: 4.5rem;
        width: 20rem;
        z-index: 1;
    }
    
}