.featuredContainer {
    height: 20rem;
    width: 60rem;
}

.imageContainer {
    height: 20rem;
    width: 35rem;
    z-index: -1;
}

.featuredDescription {
    height: 7.5rem;
    width: 30rem;
    z-index: 1;
}

.featureImg {
    object-fit: cover;
}

.technology {
    padding: 1rem;
}

.projSocial {
    padding: 1rem;
}

.projSocial:focus {
    outline: none;
}

.projSocial:hover {
   color: rgba(52, 211, 153);
   transition-duration: 0.3s;
}

@media (max-width: 500px) {
    .imageContainer {
        height: 10rem;
        width: 20rem;
        margin: 15.5vw;
        padding-top: 2rem;
        z-index: -1;
    }

    .featuredDescription {
        margin-top: 18vh;
        height: 4.5rem;
        width: 85vw;
        z-index: 1;
    }
    
    .featuredText {
        font-size: 12.5px;
    }
}