.featuredContainer {
    height: 20rem;
    width: 60rem;
}

.imageContainer {
    height: 20rem;
    width: 35rem;
    z-index: -1;
}

.featuredSide {
    align-items: flex-end;
}

.featuredDescription {
    height: 7.5rem;
    width: 30rem;
    z-index: 1;
}

.featureImg {
    object-fit: cover;
}

.technology {
    padding: 1rem;
}

.projSocial {
    padding: 1rem;
}

.projSocial:focus {
    outline: none;
}

.projSocial:hover {
   color: rgba(52, 211, 153);
   transition-duration: 0.3s;
}

@media (max-width: 1023px) {
    .imageContainer {
        height: 20rem;
        width: 30rem;
        z-index: -1;
        padding-right: 1rem;
    }
}

@media (max-width: 850px) {
    .imageContainer {
        height: 20rem;
        width: 25rem;
        z-index: -1;
        padding-left: 1rem;
    }
}

@media (max-width: 775px) {
    .featuredContainer {
        padding: 0 !important;
    }


    .imageContainer {
        height: 10rem;
        width: 20rem;
        align-self: center;
        padding-top: 6.5rem;
        z-index: -1;
    }


    .featuredSide {
        align-items: center;
    }
    
    .featuredDescription {
        margin-top: 18vh;
        height: 4.5rem;
        width: 85vw;
        z-index: 1;
    }
    
    .featuredText {
        font-size: 12.5px;
    }
}