.contactBtn {
    outline: none;
    height: 3.5rem;
    transition-duration: 0.3s;
}

.contactBtn:hover {
    --tw-background-opacity: .45;
    background-color: rgba(100, 255, 218, var(--tw-background-opacity));
}

.contactBtn:focus {
    outline: none;
}

.contactBtn:active {
    --tw-background-opacity: 1;
    background-color: rgba(100, 255, 218, var(--tw-background-opacity));
}

.contactHeader > span {
    height: 1px;
    /*width: 30rem;*/
    width: auto;
}

@media (max-width:500px) {
    .contactBody {
        text-align: center;
    }
}