.navBtn {
    outline: none;
    border:none;
    position: relative;
    transition-duration: 0.4s;
}

.navBtn:focus {
    outline: none;
}

.navBtn:hover{
    color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.btnHov {
    position: absolute;
    width: 0%;
    transition: width 0.15s ease-in-out;
}

.navBtn:hover .btnHov {
    width: 100%;
}