.navBtn:focus {
    outline: none;
}

.navBtn:hover > .btnHov {
    animation: navHov 0.3s forwards;
}

@keyframes navHov {
    from {
        width: 0rem;
    }
    to {
        width: 7.5rem;
    }
}